DB_NAME=db
DB_USER=user
DB_PASSWORD=password
DB_HOST=postgres
DB_PORT=5432
SECRET_KEY=your_django_secret_key
DEBUG=True
ACCESS_TOKEN_EXPIRE_MINUTES=10
REFRESH_TOKEN_EXPIRE_DAYS=7
CORS_ORIGINS=http://localhost:5173
ALLOWED_HOSTS=localhost,127.0.0.1
REDIS_HOST=redis
REDIS_PORT=6379